<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monster Killer</title>
    <link rel="stylesheet" href="monster.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <img src="https://img.icons8.com/color/250/000000/iron-age-warrior.png">
                <h1>Player</h1>

                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}">
                    </div>
                </div>
                {{ playerLife }}%
            </div>
            <div class="score">
                <img src="https://img.icons8.com/color/250/000000/orc.png">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}">
                    </div>
                </div>
                {{ monsterLife }}%
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife === 0" class="win">
                You Won! 😄
            </div>
            <div v-else class="lose">
                You Lose! 😞
            </div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Attack</button>
                <button class="btn special-attack" @click="attack(true)">Special Attack</button>
                <button class="btn heal" @click="healAndAttack()">Heal</button>
                <button class="btn give-up" @click="running = false">Give Up</button>
            </template>
            <button v-else class="btn new-game" @click="startGame">New Game</button>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li :class="log.cls" class="log" v-for="log in logs">{{log.text}}</li>
            </ul>
        </div>
    </div>
    <script src="monster.js"></script>
</body>
</html>