<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if='logged'>User logged: {{name}}</p>

    <p v-else-if="anonimo">Browsing as Anonymous User</p>

    <p v-else>No user logged in</p>

    <button @click="logged = !logged">{{logged ? 'Exit' : 'Sign in'}}</button>

    <input type="checkbox" v-model='anonimo'>

</div>

<script>
    new Vue({
        el: '#app',
        data:{
            name: 'Leandro',
            logged: false,
            anonimo: false
        }
    })
</script>